 * {
    box-sizing: border-box;
    /* min-width: 400px; */
    max-width: 700px;
  }
  
html {
    background-color: rgb(163, 185, 255);

}

body {
    font-family: bookman, "Benton Sans", helvetica;
    /* border: solid black 7px; */
    min-width: 378px;
    background-color: #ECE5F0;
    padding: 3rem;
    margin: 1rem;
}

.nav {
    list-style-type: none;
    text-align: right;
    border-left: solid black 3px;
    border-right:solid black 3px;
    border-top: solid black 3px;
    background-color: #0a3834;
    
}

.nav li {
    padding: 0 10%;
}

.homeButton {
    margin: 0 12px 0 20px;
}

.skillsButton {
    margin: 0 15px 0 8px;
}

.whatIDone {
    margin: 0 6px 0 60px;
}

.nav li a {
    background-color: rgb(231, 184, 125);;
    /* border: solid black 2px; */
    display: block;
    /* width: 25%; */
    color: black;
    text-decoration: none;
    text-align:center;
}

.nav li a:hover {
    background-color: #555;
    color: white;

} 

.all_about_me {
    /* border: solid black 3px; */
    padding: 1rem;
}

.main_photo {
    display: block;
    min-width: 150px;
    margin-right: 33%;
    max-width: 70%;
    padding: 2rem;
    /* background-color: honeydew; */

}

.page_title {
    font-family: bookman, impact, Arial, Helvetica, sans-serif;
    /* border: solid black 1px; */
    padding: 1rem;
    margin: 12px 0 5px 60px;
    color: #ECE5F0;
    background-color: #59114D;
}

p {
    padding: 1rem;
    background-color: rgb(231, 184, 125);
    /* border: solid black 1px; */
    font-weight: 100;
    margin: 30px 25px 5px 12px;
}

.footer {
    background-color: #0a3834;
    /* border: solid black 2px; */

}

.footer1 {
padding: 1rem;

}

.footer2 {
    padding: 1rem;

}

.footer li {
    color: #ECE5F0;
    list-style-type: none;
    font-weight: 200;
}

.footer li a {

    color: #ECE5F0;
    text-decoration: underline;
}
/*
.flexContainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-end;
    justify-content: space-between;
    background-color: #26C6FC;
    padding: 200px;
    flex-direction: row;
  }

.flexItem {
max-width:300px;
padding:15px;
flex-shrink: 3;
}

.homeButton {
    order: 1;
}

.skillsButton {
    order: 2;
}

.whatIDone {
    order: 3;
}
*/

/* p {
    border: solid black 8px;
    padding: 7rem;
}  */